@using Twitter.Core.Dtos;
@model Twitter.Core.Dtos.UserDto

@{
	Layout = null;
	ViewData["Title"] = "Home Page";
	List<InteractionDto> likes = ViewBag.Like as List<InteractionDto>;
	List<InteractionDto> retweets = ViewBag.Retweet as List<InteractionDto>;
}
@if (ViewBag.Tweets != null)
{
	for (int item = 0; item < ViewBag.TweetsTotal; item++)
	{
		<div class="col-12">
			<div class="row">
				<div class="col-xs-4 col-md-2 py-2">
					<div class="flex-shrink-0" style="width: 75%;max-width: 100px;">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
							 alt="Generic placeholder image" class="img-fluid rounded-circle">
					</div>
				</div>
				<div class="col-xs-8 col-md-10 fs-5">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-md-8">
									@for (int i = 0; i < ViewBag.Username.Count; i++)
									{
										if (ViewBag.Username[i] == ViewBag.Tweets[item].Username)
										{
											<b><span>@ViewBag.Username[i]</span></b>
											<span>
												<i class="fa-solid fa-circle"
												   style="color: rgb(83, 100, 113); font-size: 25%; margin: 3%; vertical-align: middle;"></i>
												<span id="time">@ViewBag.Tweets[item].TweetDate</span>
											</span>
											break;
										}
									}
								</div>
								<div class="col-6 col-md-4" style="text-align:center;">
									@if (Context.Session.GetInt32("CurrentUserid").Value == ViewBag.Tweets[item].UserId)
									{
										<span>
											<i class="fa-solid fa-xmark fs-5 py-2 px-2 deleteHover"
											   onclick="deleteTweet.deleteTweet('@ViewBag.Tweets[item].TweetId','@ViewBag.Tweets[item].UserId')"></i>
										</span>
									}
									else
									{
										<span><i class="fa-solid fa-ellipsis fs-5 py-2 px-2 commentShareHover"></i></span>
									}
								</div>
							</div>
						</div>
						<div class="col-12">
							<div>
								<span>@ViewBag.Tweets[item].TweetContent</span>
							</div>
						</div>
						<br />
						<div class="col-12 m-2">
							<div class="row" style="justify-content: space-between; align-items: flex-end;">
								<div class="col-12">
									<div class="row" style="flex-flow: row;">
										<div class="col-2">
											<span><i class="fa-regular fa-comment fs-5 py-2 px-2 commentShareHover"></i></span>
										</div>
										<div class="col-2">
											@if (ViewBag.Retweet.Count == 0)
											{
												<span style="font-size: 15px;">
													<i class="fa-solid fa-retweet fs-5 py-2 px-2 retweetHover"
													   onclick="interaction.retweet('@Context.Session.GetInt32("CurrentUserid")', '@ViewBag.Tweets[item].TweetId')"></i>
													@ViewBag.Tweets[item].RetweetCount
												</span>
											}
											else
											{
												if (retweets.Any(retweet => retweet.TweetId == ViewBag.Tweets[item].TweetId)) //giriş yapan kullanıcı o tweeti retweetladıysa
												{
													<span style="font-size: 15px;">
														<i class="fa-solid fa-retweet fs-5 py-2 px-2 retweetHover" style="color: rgb(0, 186, 124);"
														   onclick="interaction.unretweet('@Context.Session.GetInt32("CurrentUserid")', '@ViewBag.Tweets[item].TweetId')"></i>
														@ViewBag.Tweets[item].RetweetCount
													</span>
												}
												else //retweetlamadıysa
												{
													<span style="font-size: 15px;">
														<i class="fa-solid fa-retweet fs-5 py-2 px-2 retweetHover"
														   onclick="interaction.retweet('@Context.Session.GetInt32("CurrentUserid")', '@ViewBag.Tweets[item].TweetId')"></i>
														@ViewBag.Tweets[item].RetweetCount
													</span>
												}

											}
										</div>
										<div class="col-2">
											@if (ViewBag.Like.Count == 0)
											{
												<span style="font-size: 15px;">
													<i class="fa-regular fa-heart fs-5 py-2 px-2 likedHover"
													   onclick="interaction.like('@Context.Session.GetInt32("CurrentUserid")', '@ViewBag.Tweets[item].TweetId')"></i>
													@ViewBag.Tweets[item].LikeCount
												</span>
											}
											else
											{
												if (likes.Any(like => like.TweetId == ViewBag.Tweets[item].TweetId)) //giriş yapan kullanıcı o tweeti beğendiyse
												{
													<span style="font-size: 15px;">
														<i class="fa-solid fa-heart fs-5 py-2 px-2 likedHover" style="color: rgb(249,24, 128);"
														   onclick="interaction.unlike('@Context.Session.GetInt32("CurrentUserid")', '@ViewBag.Tweets[item].TweetId')"></i>
														@ViewBag.Tweets[item].LikeCount
													</span>
												}
												else //beğenmediyse
												{
													<span style="font-size: 15px;">
														<i class="fa-regular fa-heart fs-5 py-2 px-2 likedHover"
														   onclick="interaction.like('@Context.Session.GetInt32("CurrentUserid")', '@ViewBag.Tweets[item].TweetId')"></i>
														@ViewBag.Tweets[item].LikeCount
													</span>
												}

											}

										</div>

										<div class="col-2">
											<span><i class="fa-solid fa-arrow-up-from-bracket fs-5 py-2 px-2 commentShareHover"></i></span>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />
	}
}
